/* ========================================index============================================= */
* {
  font-family: 'Permanent Marker', cursive;
font-family: 'Yomogi', cursive;
}

header h1{
  font-family: 'Akaya Kanadaka', cursive;
  position: relative;
  text-shadow: 0 0 3px #fc02d2, 0 0 5px #82828b;
  font-size: 100px;
  text-align: center;
  display: inline-block;

}
header img{
display: inline-;
float: right; 
margin-bottom: 20px;
border-radius: 50%;

}

header nav li{
  text-decoration: none;
  nav-up: 100px;
  display: inline-block;
  float: right; 
   margin-top: 20px;
  font:boold;
  font-size: medium;
  position: relative;
  text-decoration: none;
  animation-timing-function: linear;
   border: 2px ;
  padding: 10px 20px;
  text-align: center;
  
}

a:hover, a:active {
  background-color: rgb(243, 26, 243);
  color: white;
} 

  #dov{
    font-size: 40px;
    display: inline-block;

  }

  
main img  {
  border-radius: 50%;
  margin-bottom: 50px;
}
  

section img{
  border-radius: 50%;

}

  option{
    font-size: 20px;
  margin-top: 100px;
  }
  
pre h3{
  bottom: 100px;
  text-shadow: #0f0f0f;
}



/* =======================sales============================ */
 form input {
  background-color: antiquewhite;
  border-radius: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



h1 .hd{
  text-align: center;
  margin-top: 10%;
   padding-top: 50px;
  padding-bottom: 50px;
  background-color:antiquewhite;

} 
